<%= form_with(model: profile, class: "contents") do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="mb-3">
    <%= form.label "About", class: "form-label" %>
    <%= form.text_area :body, rows: 4, class: "form-control", placeholder: "本文を入力してください" %>
  </div>
  <div class="mb-3">
    <%= form.label "history", class: "form-label" %>
    <%= form.text_area :history, rows: 4, class: "form-control", placeholder: "活動履歴を入力してください" %>
  </div>
  <div class="mb-3">
    <%= form.label "mail", class: "form-label" %>
    <%= form.text_area :contact_email, rows: 1, class: "form-control", placeholder: "連絡先メールを入力してください" %>
  </div>
  <div class="mb-3">
    <%= form.label "image", class: "form-label" %>
    <%= form.file_field :image, class: "#" %> <!--画像保存用に変更した-->
  </div>
  <button type="submit" class="btn btn-outline-primary btn-sm btn-block">save</button>
<% end %>