<h1>ログイン</h1>

<%= form_with model: @session, local: true do |form| %>
  <%= flash[:danger] %>

  <%= form.label :email, 'メールアドレス' %>
  <%= form.email_field :email %>

  <%= form.label :password, 'パスワード' %>
  <%= form.password_field :password %>
  
    <%= form.label :name, 'ユーザー名' %>
  <%= form.text_field :name %>

  <%= form.label :image, 'ユーザー画像' %>
  <%= form.file_field :image %>

  <%= form.submit 'ログイン' %>
<% end %>