<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label :画像, style: "display: block" %>
    <%= form.file_field :image %><!--画像保存用に変更した-->
    <%= form.hidden_field :post_image_cache %>
  </div>
  

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>




  <div>
    <%= form.label :タイトル, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :本文, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

         <!-- 0: する側, 1: される側 -->
  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.radio_button :role, 0 %> する側
    <%= form.radio_button :role, 1 %> される側
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
