<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.label :Image, style: "display: block" %>
    <%= form.file_field :image %><!--画像保存用に変更した-->
    <%= form.hidden_field :post_image_cache %>
  </div>
  <div>
  </div>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_area :title, rows: 1, class: "form-control", placeholder: "タイトルを入力してください" %>
  </div>
  <div class="mb-3">
    <%= form.label 'what did you do', class: "form-label" %>
    <%= form.text_area :body, rows: 1, class: "form-control", placeholder: "活動を入力してください" %>
  </div>
         <!-- 0: する側, 1: される側 -->
  <div>
    <%= form.label :Role, style: "display: block; font-size: 25px;" %>
    <%= form.radio_button :role, 0 %> する側
    <%= form.radio_button :role, 1 %> される側
  </div>

  <div>
	<!-- ここを追加-->
    <label>タグ (,で区切ると複数タグ登録できます)</label>
    <%= form.text_field :name,value: @tag_list, class: 'form-control' %><br>
  </div>

  <div>
    <button type="submit" class="btn btn-outline-primary btn-sm btn-block custom-btn">Create post</button>
  </div>
<% end %>