<p style="color: green"><%= notice %></p>

<div class="container">


  <% if current_user.present? %>
    <div class="container" style="display: flex; align-items: center; justify-content: space-between;">
      <h1>投稿一覧</h1>
        <%= link_to "新規投稿", new_post_path, class: "btn btn-primary" %>
      </div>

        <div id="posts">
            <%# @posts.each do |post| %>
        <% @role = 0  %> <!-- 0: する側, 1: される側 -->

        <% @filtered_posts = @posts.where(role: @role) %>
        <% @filtered_posts.each do |post| %>
          <!-- 投稿一覧の要素を制限 -->

            <div class="card mb-1">
              <div class="card-body">
                <div class="max-w-lg mx-auto">
                    <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm">
                        <a href="#">

                        <div style="height: 200px; overflow: hidden; display: flex; align-items: center;">
                          <img class="rounded-t-lg object-cover" src="<%= post.image %>" alt="" style="width: 100%; object-position: center center; filter: blur(30px);">
                        </div>

                            <!--
                            <img class="rounded-t-lg" src=<%= "https://flowbite.com/docs/images/blog/image-1.jpg"  %> alt="">
                            -->
                        </a>
                        <div class="p-2">
                            <a href="#">
                                <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2">
                                      <%= link_to post.title, post, class: "post-title-link" %>
                                </h5>
                            </a>
                                <p>
                                  <!-- <strong>投稿者:</strong> -->
                                      <%= post.user&.name || "Unknown User, ID: #{post.user_id}" %>
                                </p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
  <% else %>

</div>

<div>
    <h3 class="px-8 py-4">
        右上のボタンから<%= link_to "ログイン", login_path %>してください。
    </h3>
    <h3 class="px-8 py-2">
        アカウントがない方は<%= link_to "こちら", signup_path %>からアカウントを作成してください。
    </h3>
</div>

  <% end %>
