<p style="color: green"><%= notice %></p>
<%= render @post %>
<div>
  <% if current_user.id == @post.user_id %>
    <div class="text-center" style="margin-top: 20px; display: flex; gap: 10px;">
      <%= link_to "Return to post list", filter_posts_path(@post.role), class: "btn btn-outline-dark btn-sm flex-grow-1" %>
      <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-outline-primary btn-sm flex-grow-1" %>
      <%= button_to "Delete post", @post, method: :delete, class: "btn btn-outline-danger btn-sm flex-grow-1" %>
    </div>
  <% else %>
  <% end %>
</div>