<p style="color: green"><%= notice %></p>

<%= render @post %>


<div>
  <% if current_user.id == @post.user_id %>
    <div class="text-center" style="margin-top: 20px; display: flex; justify-content: space-between;">
      <%= link_to "投稿一覧へ戻る", filter_posts_path(@post.role), class: "btn btn-primary" %><!--現在表示したPostのロールに従った一覧に戻るようにする-->
      <%= link_to "投稿を編集する", edit_post_path(@post), class: "btn btn-primary" %>
      <%= button_to "投稿を削除する", @post, method: :delete, class: "btn btn-secondary" %>
    </div>
  <% else %>

  <% end %>


</div>
